In [2]:
import pandas as pd
import os
data_path = r"C:\Users\cdsjt\data"


# List all files in the data directory
files = os.listdir(data_path)
print("Files in data directory:")
for file in files:
    print(f"- {file}")

Files in data directory:
- ES_data.csv
- UX_data.csv

In [4]:
price_data = pd.read_csv(r"C:\Users\cdsjt\data\ES_data.csv")
price_data.head()

,Symbol,Time,Open,High,Low,Last,Change,%Chg,Volume,Open Int
0,ESH18,2018-02-02 00:01:00,2817.75,2817.75,2817.50,2817.50,-0.25,-0.01%,43.0,NaN
1,ESH18,2018-02-02 00:02:00,2817.50,2817.50,2817.50,2817.50,0.00,0.00%,49.0,NaN
2,ESH18,2018-02-02 00:03:00,2817.25,2817.25,2817.00,2817.25,-0.25,-0.01%,192.0,NaN
3,ESH18,2018-02-02 00:04:00,2817.00,2817.00,2816.75,2816.75,-0.50,-0.02%,98.0,NaN
4,ESH18,2018-02-02 00:05:00,2816.75,2817.00,2816.50,2816.50,-0.25,-0.01%,71.0,NaN