In [ ]:
import pandas as pd
import os
data_path = r"C:\Users\cdsjt\data"

# List all files in the data directory
files = os.listdir(data_path)
print("Files in data directory:")
for file in files:
    print(f"- {file}")

Files in data directory:
- ES_data.csv
- UX_data.csv
- ZN_data.csv

In [3]:
# price_data = pd.read_csv(r"C:\Users\cdsjt\data\ES_data.csv")
price_data = pd.read_csv(r"C:\Users\cdsjt\data\ZN_data.csv")
price_data.head()

,Symbol,Time,Open,High,Low,Last,Change,%Chg,Volume,Open Int
0,ZNM13,2013-03-31 17:01:00,131.78125,131.796875,131.750000,131.750000,-0.031250,-0.02%,714.0,NaN
1,ZNM13,2013-03-31 17:02:00,131.75000,131.750000,131.734375,131.750000,0.000000,0.00%,251.0,NaN
2,ZNM13,2013-03-31 17:03:00,131.75000,131.750000,131.734375,131.750000,0.000000,0.00%,752.0,NaN
3,ZNM13,2013-03-31 17:04:00,131.75000,131.765625,131.750000,131.765625,0.015625,+0.01%,193.0,NaN
4,ZNM13,2013-03-31 17:05:00,131.78125,131.781250,131.781250,131.781250,0.015625,+0.01%,15.0,NaN